doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Conditional View Using Pug
    body
        if(user) 
            p Hi, #{user.name}
        else 
            a(href="/sign-up") Sign Up