doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Dynamic View using Pug
        // using object destructuring
        - var { url, linkText } = params
    body
        // interpolation
        a(href = url) #{linkText}