// getting started with pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        // include css 
        style
            include styles/first-view.css
        title Hello World
        - var youAreUsingPug = true
    body
        h1  Hello World

        // conditional html 
        .container#intro
            if youAreUsingPug 
                p You are amazing 
            else 
                p Get on it
            
        // making a square
        div.square


