doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form
    body
        form(action="/form", method="POST")
            div
                label(for="username") Username: 
                input(type="text" name="username" value="")
            br
            div
                label(for="password") Password: 
                input(type="password" name="password" value="")
            br  
            button(type="submit") Login