doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sign Up Status View
    body
        if(type == "error")
            h3(style = "color:red") #{message}
        else
            h3  Welcome, #{user.name}