doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Signup Form
    body
        form(action="/form/show-message", method="POST")
            div
                label(for="name") Username: 
                input(type="text" name="name")
            br
            div
                label(for="password") Password: 
                input(type="password" name="password")
            br  
            button(type="submit") Sign Up