doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Serve Static Files
    body
        // serving static image file
        img(alt="pug-puppies", src="/static/images/pug-puppies.jpg")